<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Payment/etc/adminhtml/system.xml">
    <system>
        <section id="payment" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <group id="flutterwave" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Flutterwave</label>

                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Flutterwave Payment</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="title" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>

                <field id="webhook_url" translate="label" type="label" sortOrder="99" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Webhook URL</label>
                    <frontend_model>Flutterwave\Payment\Block\Adminhtml\System\Config\WebhookUrl</frontend_model>
                </field>

                <field id="api_key" translate="label" type="password" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>API Secret Key</label>
                </field>

                <field id="sort_order" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sort Order</label>
                </field>
            </group>
        </section>
    </system>
</config>
